* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}
body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 background-color: hsl(60, 77%, 83%);
  }
   
  
  .divlogo {
    height: 20%;
    width: 20%;
    margin-right: 45%;
    margin-left: 45%;
     mix-blend-mode: multiply;
  }
  
  h1 {
    color: blue;
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.9);
  }

  p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5%;
    margin-left: 5%; 
    padding: 2px 45;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.9);
  }

  h3 {
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.9);
  }
   .termo {
    width: 25%;
    height: 25%;
    margin-right: 40%;
    margin-left: 40%;
     
   }

  h4 {
    text-align: center;
    font-size: 20px;
    color: blue;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.9);
  }

  h5 {
    text-align: center;
    font-size: 2rem;
    padding: 2px 45;
    margin-right: 5%;
    margin-left: 5%; 
  }
 

section {
  margin-right: 40%;
    margin-left: 40%;  
align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px 5px;
  background: green;
  width: 200px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
section h2{
  color: red;
  font-size: 2rem;
  margin: 2px;

}

section form{
  
    width: 100%;
    max-width: 5rem;
    
  }
  

  
  form label{
    color: #fff;
    font-size: 17px;
    margin-bottom: 4px;
  }
  
form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 5px;
    font-size: 15px;
  width: 200px;
    
  }

  form input:focus {
    border-radius: 16px;
  }
  
  form textarea {
    padding: 1px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 5px;
    transition: all 0.5s;
    width: 239px;
  }
  
  form textarea:focus {
    border-radius: 16px;
  }
  
  form button {
    display: block; 
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    font: inherit;
    text-transform: uppercase;
    transition: all 1s;
    margin-bottom: 5px;
  }
  
  
.button {
    background-color: blue;
    color: white;
    border-radius: 3px;
    cursor: pointer;
 }
.btn {
    padding: 20px 20px;
    background: yellow;
    text-decoration: none;
    color: blue;
    font-size: 18px;
    margin-right: 45%;
    margin-left: 45%; 
  }

  footer {
    justify-content: space-between;
    background-color: white;
    padding: 5px 40%;
    margin-right: 1%;
    margin-left: 1%; 
  }

   h6
  {
    font-size: 1rem;
    text-align: center;
  }
  @media (max-width: ) {
    .nav-urna, .article-urna {
        width: 100%;
        height: auto;
    }
}
